<!-- Now synced with Dev using ./copyFiles from 6HandedEuchre directory -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>6 Handed Euchre</title>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="../static/js/config.js"></script>
  <script src="../static/js/sessionv2.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/session.css">
  <link rel="icon" href="../static/images/clubs.png">
</head>
<body>
  <div id="signinScreen">
    <div id="title">
      <img class='titleImage' src='../static/images/clubs.png'></img>
      <img class='titleImage' src='../static/images/diamonds.png'></img>
      <img class='titleImage' src='../static/images/spades.png'></img>
      <img class='titleImage' src='../static/images/hearts.png'></img>
      <div>Pepper</div>
      <div id="roomNumber"></div>
    </div>
    <div>
    <div id="signin">
      <input type="text" id="username" class="username" placeholder="Please enter a nickname"/>
      <input type="submit" id="submitNameButton" class="submit" onclick="submitName()"/>
      <!-- OR
      <button id="addBotButton" class="neutral" onclick="addBot()">Add Bot</button> -->
    </div>
    </div>
    <p id="waiting">Waiting for other players!</p>
    <br>
    <br>
    <div class='endGame' id="clearPlayersButtonContainer" onclick="endGame()">Clear Players</div>
    <div id="roomFullDiv">ROOM IS FULL, PLEASE TRY ANOTHER ROOM</div>
    <br>
    <div class="playersLoggedIn" id="orangePlayersLoggedIn"></div>
    <div class="playersLoggedIn" id="bluePlayersLoggedIn"></div>
    <br>
    <br>
  </div>

  <div class="_shadow _rounded" id="roomLink">
    
  </div>

  <div id="botForm" class="_rounded _shadow">
    <label for="botName">Nickname:</label>
    <input type="text" id="botName" class="username"/><br>
    <input type="radio" name="botSkill" id="serviceable" value="serviceable" />
    <label for="serviceable">Serviceable</label>
    <input type="radio" name="botSkill" id="clutch" value="clutch" checked />
    <label for="clutch">Clutch</label>
    <input type="radio" name="botSkill" id="cerebral" value="cerebral" />
    <label for="cerebral">Cerebral</label><br>
    <input type="submit" id="submitBotName" class="submit" onclick="submitBot()"/>
  </div>

  <div id="gametable">
    <div id="gameover">
      Ballgame
    </div>

    <button id="endGameInitial" class="endGame" onclick="endGameButton()">End Game</button>

    <div class="player" id="player0">
      
    </div>
    <div class="player" id="player1">
      
    </div>
    <div class="player" id="player2">
      
    </div>
    <div class="player" id="player3">
      
    </div>

    <!-- Cards being played in current trick -->
    <div id="liveCards">
      <div id="liveCardLayer0" class="liveCardLayer">
        <div class="card liveCard" id="liveCard2">

        </div>
      </div>

      <div id="liveCardLayer1" class="liveCardLayer">
        <div class="card liveCard" id="liveCard1">
          
        </div>
        <div class="card liveCard" id="liveCard3">
          
        </div>
      </div>

      <div id="liveCardLayer2" class="liveCardLayer">
        <div class="card liveCard" id="liveCard0">
          
        </div>
      </div>
    </div>

    <!-- To be populated by the player's cards -->
    <div id="myCards">

    </div>

    <div id="bidding" class="flexContainer _rounded _shadow">
      <div class="btn-group" id="bidNumber">
        <button id="bidNumberButton" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Pass 
        <span class="caret"></span></button>
        <ul id="bidNumberDropdown" class="dropdown-menu">
          <li id="0BidNumber"><a href="#" onclick="setupBidNumberChange('0')">Pass</a></li>
          <li id="4BidNumber"><a href="#" onclick="setupBidNumberChange('4')">4</a></li>
          <li id="5BidNumber"><a href="#" onclick="setupBidNumberChange('5')">5</a></li>
          <li id="6BidNumber"><a href="#" onclick="setupBidNumberChange('6')">6</a></li>
          <li id="9BidNumber"><a href="#" onclick="setupBidNumberChange('9')">Horse</a></li>
          <li id="10BidNumber"><a href="#" onclick="setupBidNumberChange('p')">Pepper</a></li>
        </ul>
      </div>

      <div class="btn-group" id="bidType">
        <button id="bidTypeButton" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a id="cType" href="#" onclick="setupBidTypeChange('c')"><img class='suitDropdown' src='../static/images/clubs.png'></img>&nbsp; Clubs</a></li>
          <li><a id="dType" href="#" onclick="setupBidTypeChange('d')"><img class='suitDropdown' src='../static/images/diamonds.png'></img>&nbsp; Diamonds</a></li>
          <li><a id="sType" href="#" onclick="setupBidTypeChange('s')"><img class='suitDropdown' src='../static/images/spades.png'></img>&nbsp; Spades</a></li>
          <li><a id="hType" href="#" onclick="setupBidTypeChange('h')"><img class='suitDropdown' src='../static/images/hearts.png'></img>&nbsp; Hearts</a></li>
        </ul>
      </div>
      
      <div class="btn-group">
        <button id="submitBid" class="submit" onclick="submitBid()">Submit</button>
      </div>
    </div>

    <!-- <img class='birthdayImage' src='../static/images/logo.png'></img> -->
  </div>

  <div id="scoreboard" class="box _rounded _shadow">
    <div id="scores">
      <div id="orangeScoreboard" class="scores">
        Score: <div id="orangeScore">
          
        </div>
        Tricks: <div id="orangeTricksTaken">
          
        </div>
      </div>
      <div id="blueScoreboard" class="scores">
        Score: <div id="blueScore">
          
        </div>
        Tricks: <div id="blueTricksTaken">
          
        </div>
      </div>
    </div>
    <div id="gameInfo">
      <div class="scores">
        <div>
          Dealer:
        </div>
        <div id="dealer">
        </div>
      </div>

      <div class="scores">
        <div>
          Bid:
        </div>
        <div id="bid">
        </div>
      </div>

    </div>
  </div>

  <div id="endGameDiv">
    <div>Are you sure you want to end the game?</div>
    <div>
      <button id="keepPlaying" class="submit" onclick="keepPlayingButton()">No, Keep Playing</button>
      <button id="endGameFinal" class="endGame" onclick="endGame()">End Game</button>
    </div>
  </div>
</body>
</html>